:root {
  --background: #f0f2f5;
  --left-menu-icon-hover: lightgray;
  --video-hover: lightgray;
  --tag-background: white;
  --tag-background-hover: lightgray;
  --signin-background-hover: lightblue;
  --signin-text: blue;
  --tag-border: lightgray;
  --text: black;
  --list-border: lightgray;
  --card-background: #f5f5f5;
  --author-color: #555;
  --input-background: white;
}
[data-theme = 'dark-mode'] {
  --background: black;
  --left-menu-icon-hover: darkslategray;
  --video-hover: darkslategray;
  --tag-background: #272727;
  --tag-background-hover: darkslategray;
  --signin-background-hover: darkslategray;
  --signin-text: deepskyblue;
  --tag-border: darkslategray;
  --text: white;
  --list-border: darkslategray;
  --card-background: #1a1a1a;
  --author-color: #999;
  --input-background: black;
}
.list-group-item {
  border: 0;
  background-color: transparent;
}
#LeftMenuIcon {
  color: var(--text);
  font-size: 20px;
}
#LeftMenuIcon:hover {
  background-color: var(--left-menu-icon-hover);
  cursor: pointer;
}
#video:hover {
  background-color: var(--video-hover);
  cursor: pointer;
}
#video {
  background-color: transparent;
  width: 300px;
  margin: 10px;
}
.card-text {
  color: var(--text);
  margin: 3px;
}
#title {
  font-size: larger;
  font-weight: bold;
}
.list-group {
  border-radius: 0px;
  border-top: 1px solid var(--list-border);
  border-bottom: 1px solid var(--list-border);
  border-left: none;
  border-right: none;
}
input {
  height: 50px;
}
#left, #right {
  max-height: 100vh;
  overflow-y: scroll;
}
.tag {
  width: fit-content;
  font-size: 15px;
  font-weight: bold;
  margin: 10px;
  background-color: var(--tag-background);
  padding: 10px;
  border: 1px solid var(--tag-border);
  border-radius: 100px;
  width: fit-content;
}
.tag:hover{
  background-color: var(--tag-background-hover);
  cursor: pointer;
}
#sign-in {
  background-color: transparent;
  height: 50px;
  margin-left: 10vw;
  border: 1px solid var(--signin-text);
  color: var(--signin-text);
  width: 200px;
  margin-right: 5vw;
  font-size: 25px;
}
#sign-in:hover {
  background-color: var(--signin-background-hover);
}

.logo {
  width: 70px;
  margin-right: 10px;
}
.Youtube {
  color: var(--text);
  font-size: 40px;
  font-weight: bold;
}
.name-logo {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
#profile-picture {
  margin-left: 150px;
  width: 60px;
  height: 60px;
  border-radius: 50%;
}
#profile-picture:hover {
  cursor: pointer;
}
#search-bar {
  color: var(--text);
  background-color: transparent;
}
#search-group {
  margin-left: 10vw;
  width: 30vw;
  color: var(--text);
}

#main-page {
  background-color: var(--background);
  display: flex;
  flex-direction: column;
  height: 100%;
  color: var(--text);
}
#switch-mode {
  margin-left: 10vw;
  border-radius: 100px;
  background-color: transparent;
  color: var(--text);
  border-color: var(--tag-border);
}

::-webkit-scrollbar {
  display: none;
}