.list-group-item {
    border: 0;
    background-color: transparent;
  }
  #LeftMenuIcon:hover {
    background-color: lightgray;
    cursor: pointer;
  }
  .card:hover {
    background-color: lightgray;
    width: 320px;
    cursor: pointer;
  }
  .card {
    width: 300px;
    margin: 10px;
  }
  .card-text {
    margin: 3px;
  }
  #title {
    font-size: larger;
    font-weight: bold;
  }
  span {
    font-size: 25px;
  }
  .list-group {
    border-radius: 0px;
    border-top: 1px solid lightgray;
    border-bottom: 1px solid lightgray;
    border-left: none;
    border-right: none;
  }
  input {
    height: 50px;
  }
  #left, #right {
    max-height: 100vh;
    overflow-y: scroll;
  }
  .tag {
    width: fit-content;
    font-size: 15px;
    font-weight: bold;
    margin: 10px;
    background-color: white;
    padding: 10px;
    border: 1px solid lightgray;
    border-radius: 100px;
    width: fit-content;
  }
  .tag:hover{
    background-color: lightgray;
    cursor: pointer;
  }
  #sign-in {
    height: 50px;
    margin-left: 120px;
    border: 1px solid blue;
    color: blue;
    width: 200px;
  }
  #sign-in:hover {
    background-color: lightblue;
  }
  